@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

::-webkit-scrollbar{
  display: none;
}

:root{
 --primary-btn: #7aadf6;
}

*{
    margin: 0;
    padding: 0;
}

.main-container{
    height: 100vh;
    width: 100%;
}
.login-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: black;
    overflow:hidden;
}

.iridescence-container {
  width: 100%;
  height: 100%;
  z-index: 0;
  
}

 .glass-bg{
     position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* backdrop-filter: blur(5px); */
  background: rgba(0,0,0,0.4);  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
} 

.login-logo-div{
    z-index: 2;
   margin-bottom: 50px;
   
   border-radius: 100px;
   padding: 10px;
   
   display: flex;
   align-items: center;
   justify-content: center;
}

.login-logo{
    z-index: 2;
    height: 70px;
    width: 140px;
    filter: drop-shadow(4px 8px 40px rgba(0, 0, 0, 1))
}

.login-big-text{
    color: antiquewhite;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    
}

.nunitofont{
    font-family: 'Nunito';
}

.login-sub-text{
    color: antiquewhite;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    
}
.login-button-div{
 height: 100%;
 width: 100%;
 gap: 60px;
 z-index: 2;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 50px;

}
.login-button{
    z-index: 2;
    background-color: rgb(255, 235, 235);
  color: rgb(40, 36, 36);
  border: 3px solid rgba(149, 56, 211, 0.9);
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  cursor:pointer;
  border-radius: 30px;
  width: 250px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.login-button:hover {
  background-color: #c9a7ea; 
  color: antiquewhite;
}

.signup-button{
   z-index: 2;
    background-color: rgb(208, 143, 255);
  color: antiquewhite;
  border: 3px solid rgba(149, 56, 211, 0.9);
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  cursor:pointer;
  border-radius: 30px;
  width: 250px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.signup-button:hover {
  background-color: #ece7f0; 
  color: rgb(27, 26, 26);
}


.login-card-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(239, 234, 226);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 60%;
  width: 60%;
}
.left-login-div{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-heading{
  font-size: 40px;
  font-weight: 800;
  color: rgb(168, 49, 219);
  margin-bottom: 10px;
}
.login-page-subheading{
  font-size: 20px;
  color: rgb(40, 36, 36);
  font-weight: 600;
  margin-bottom: 20px;
  font-style: italic;
}

.login-card-form{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  
}

.login-form-input{
  height: 45px;
  width: 350px;
  border-radius: 10px;
  border:2px solid #98b2f2;
  margin-top: 20px;
  margin-bottom: 10px;
  
}
.login-page-buttons-div{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.submit-button-login{
  margin-right: 60px;
  margin-top: 20px;
  height: 40px;
  width: 130px;
  border-radius: 20px;
  background-color: #cfb1ee;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.close-button-login{
  margin-top: 20px;
  height: 40px;
  width: 130px;
  border-radius: 20px;
  background-color: #cfb1ee;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.right-login-div{
    height: 100%;
    width: 40%;
    
    display: flex;
  justify-content: center;
  align-items: center;
}

.login-card-girl-pic{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.chat-bg{
  height: 100vh;
  width: 100%;
  background-image: url('/chat-bg-pic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
   position: fixed; 
  top: 0;
  left: 0;
  
}
.chat-main-container{
  position: fixed;               
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;                   /* Above your background, below content if needed */
  background: rgba(0, 0, 0, 0.2);   /* Semi-transparent black */
  backdrop-filter: blur(10px);       /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.4); /* optional, "glow" */
  border-radius: 0;                  /* Remove rounding for full viewport */
  display: flex;                     /* Optional, for centering children */
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.left-chat-container{
  height: 100%;
  width: 25%;
  background-color: ivory;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-chat-div-top{
  height: 9.4%;
  width: 100%;
  background-color: #7aadf6;
  z-index: 5;
  box-shadow: rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.left-chat-logo-div{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-right: 200px;
  margin-left: 70px;
  
}
.left-chat-logo{
  height: 50px;
  width: 100px;
}

.left-chat-profile-btn{
  border-radius: 50%;
  margin-right: 70px;
  border: none;
  background: none;
  color: antiquewhite;
  cursor: pointer;
}

.drop-down{
  height: 85%;
   width: 35%; 
   color: white;
   font-size:20px;
   position:absolute;
   top:300;
   right:5;
   background-color: var(--primary-btn);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  
}

.drop-down-btn{
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: whitesmoke;
}

.left-chat-div-search{
  height: 10%;
  width: 100%;
  /* background-color: chartreuse; */
   display: flex;
  justify-content:center;
  align-items: center;
}
.left-chat-input{
  height: 40%;
  width: 70%;
  border-color: #5798f4;
  border-radius: 20px;
  font-size: 15px;
   padding: 0.5rem 0.5rem;
   
}

.left-chat-search-btn{
  height: 50px;
  width: 50px;
  border-radius: 100px;
  margin-left: 5px;
  border-color: #5798f4;
  cursor: pointer;
  background: linear-gradient(134deg, #07B9CE 37.86%, #461781 102.7%);
}

.left-chat-div-list{
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 100%;
  overflow-y: scroll;
  /* background-color: #461781; */
}

.left-chat-user-div{
  height: 13%;
  width: 100%;
  /* background-color: chartreuse; */
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
 background-image: linear-gradient(steelblue, steelblue);
  background-size: 85% 1px; 
  background-repeat: no-repeat;
  background-position: center bottom; 
  padding: 10px 5px;
  border: none;
}

.left-chat-user-div:hover {
 background-color: #ceeff0;
}

.left-chat-list-img-div{
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  
}

.left-chat-list-text-div{
 height: 100%;
 width: 80%;
 
 display: flex;
 justify-content: center;
 align-items: flex-start;
 flex-direction: column;
}



.left-chat-list-img{
  height: 52px;
  width: 52px;
  border-radius: 50px;
  aspect-ratio: 1/1;
}

.left-chat-list-name{
 font-size: 25px;
 color: #222;
 font-weight: 700;
}

.left-chat-list-msg{
  font-size: 15px;
  color: rgb(40, 36, 36);
}

.middle-chat-container{
  height: 100%;
  width: 55%;
  z-index: 2;
   overflow-y: scroll;
   flex-direction: column;
   display: flex;
   justify-content: center;
   /* align-items: center;  */
  /* background-color: bisque; */
 
}

.middle-chat-container-default{
  height: 100%;
  width: 55%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.middle-chat-container-default img{
  height: 15%;
  width: 30%;
  aspect-ratio: 1/1;
}
.middle-chat-container-default p{
  color: antiquewhite;
  opacity: 0.8;
  font-size: 20px;
  font-style: italic;

}


.middle-navbar{
  position: fixed;                  
  top: 0;
  height: 9%;
  width: 100%;
  z-index: 2;
   background: rgba(0, 0, 0, 0.3);  /* Semi-transparent black, adjust alpha for strength */
  backdrop-filter: blur(15px);      /* Glassy blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.3); /* Subtle shadow */
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  padding: 0 2rem; 
  gap: 20px;
}

.middle-navbar-pic{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  border: #7aadf6;
}

.middle-navbar-name{
  color: antiquewhite;
  font-size: 25px;
  cursor: default;
  
  letter-spacing: 1px;
}

.middle-navbar-about-btn{
  background: none;
  color: antiquewhite;
  border: none;
  margin-left: 550px;
  cursor: help;
  height: 50px;
  
}

.chat-main-div{
  height: calc(80% - 10px);
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column-reverse;
  overflow-y: scroll;
  /* padding: 10px 0px; */
  /* background-color: red; */
}

.chat-main-div::-webkit-scrollbar {
  width: 6px;
}
.chat-main-div::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.sender-msg-div{                
  height: auto;
  width: 100%;
  /* background-color: rgb(40, 56, 176); */
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 15px;
  padding: 0px 15px;
  font-size: 13px;
  color: #222;
  margin-right: 30px;
  cursor: default;
}

.s-pic , .r-pic{
  height: 35px;
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.receiver-msg-div{
  height: auto;
  width: 100%;
  /* background-color: brown; */
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  justify-content: start;
  gap: 20px;
  padding: 0px 15px;
  font-size: 13px;
  color: #222;
  margin-left: 30px;
  cursor: default;
}


.sender-msg{
  color: white;
  background: linear-gradient(134deg, #07B9CE 37.86%, #461781 102.7%);
  padding: 10px;
  max-width: 400px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px 10px 0px 10px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  cursor: default;
}

.receiver-msg{
  padding: 10px;
  max-width: 400px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px 10px 10px 0px;
  margin-bottom: 30px;
  background-color: antiquewhite;
  color: rgb(40, 36, 36);
  letter-spacing: 1px;
  cursor: default;
}

.main-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5px;
  /* background-color: red; */
}



.msg-pic{
  max-width: 230px;
  margin-bottom: 30px;
  border-radius: 10px;
}


.r-pic{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}


.image-upload-div{
  height:50%;
  width:40%;
  display:flex;
  justify-content:center;
 align-items:center;
 position :fixed;
 padding: 2rem;
  bottom: 400;
 padding:20px 10px;
}
.image-upload-div-inside{
  height:80%;
  width:80%;
  display:flex;
  justify-content:center;
 align-items:center;
 position :relative;
 padding: 2rem;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);       /* semi-transparent black */
  backdrop-filter: blur(20px);          /* blur behind it */
  -webkit-backdrop-filter: blur(12px);  /* safari support */
  border: 1px solid rgba(255, 255, 255, 0.15); /* thin frosted border */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);  
  bottom: 400;
 padding:20px 10px;
}

.image-upload-div-inside img{
  border-radius: 10px;
}

.chat-image{
  max-width: 400px;
  border-radius: 10px;
}

.image-upload-div button{
  background-color: transparent;
  color: white;
  border: none;
}

.floating-input-container {
  position: fixed;                
  bottom: 30px;                  
  left: 50%;
  transform: translateX(-50%);
  background: rgba(83, 81, 81, 0.373);   
  border-radius: 2rem;
  box-shadow: 0 8px 32px rgba(0,0,0,0.25), 0 1.5px 7px rgba(0,0,0,0.08);
  display: flex;
  align-items: center;
  padding: 0.5rem 1.25rem;
  max-width: 650px;
  width: 95vw;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 5;
 
}

.floating-input {
  background: transparent;
  border: none;
  outline: none;
  flex: 1;
  color: #fff;
  font-size: 1.1rem;
  padding: 0.75rem 1rem;
  margin-right: 0.5rem;
  border-radius: 2rem;
  transition: ease-in-out 0.2s;
  width: 85%;
}

.floating-input::placeholder {
  color: #ccc;
  opacity: 1;
}

.floating-send-btn {
  background: linear-gradient(134deg, #07B9CE 37.86%, #461781 102.7%);
  color: #222;
  font-weight: bold;
  border: none;
  border-radius: 1.5rem;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.3rem;
  box-shadow: 0 3px 16px rgba(252, 108, 143, 0.18);
  transition: ease-in-out 0.2s, color 0.2s;
}

.floating-send-btn:hover {
  background: linear-gradient(135deg, #e1a9e4 30%, #5798f4 100%);
  color: #fff;
}

.floating-input-img{
  border: none;
  background: none;
  color: antiquewhite;
  margin-right: 10px;
  cursor: pointer;
}

.right-chat-container{
  height: 100%;
  width: 20%;
  background-color: antiquewhite;
  z-index: 2;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column  ;
}

.profile-div{
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  
}

.profile-pic{
  height: 100px;
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 3px solid #5798f4;
  margin-bottom: 10px;
}

.profile-div h2{
  color:rgb(20, 78, 214);;
  font-size: 35px;
  letter-spacing: 1px;
}

.profile-div h3{
  color: #343434;
  font-size: 18px;
}

.profile-div p{
  font-style: italic;
  font-size: 17px;
  color: rgb(20, 78, 214);
  font-weight: 500;
}

.right-chat-container hr{
  border-color:#5798f4;
  margin: 15px 0px;
}

.media-div{
  padding: 0px 20px;
  font-size: 14px;
}

.media-div h2{
  color: #343434;
}

.media-pics{
 max-height: 200px;
 overflow-y: scroll;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 margin-top: 8px;
 gap: 10px;
}

.media-pics img {
  height: 80px;
  width: 80px;
  border-radius: 4px;
  cursor: pointer;
  
}

.logout-btn{
  background: linear-gradient(134deg, #07B9CE 37.86%, #461781 102.7%);
  border: none;
  border-radius: 30px;
  font-size: 20px;
  padding: 10px 40px;
  color: antiquewhite;
  margin-top: 40px;
  cursor: pointer;
}

.logout-btn:hover{
background: linear-gradient(135deg, #e1a9e4 30%, #5798f4 100%);
  color: #fff;
}

.profile{
  height: 100vh;
  width: 100vmax;
min-height: 100vh;
background: linear-gradient(135deg, #e1a9e4 30%, #5798f4 100%);
display: flex;
justify-content: center;
align-items: center;
}

.profile-container{
  height: 100%;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  min-width: 500px;
  
  
}
.profile-card{
  height: 65% ;
  width: 35%;
  background-color:#5798f4;
background: linear-gradient(135deg, #506ef5 20%, #639ff3 100%);
  background: linear-gradient(180deg, );
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-bottom: 100px;
box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.4);
gap: 20px;
padding: 5px;
}

.profile-card h3{
  color: #ccc;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}

.profile-card label{
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  color: #ccc;
  cursor: pointer;
  font-size: 15px;
}

.profile-card input{
   width: 300px;
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  background: #ccc;
  box-shadow: 0 2px 8px rgba(60, 72, 88, 0.07);
  font-size: 1rem;
  color: #2c3e50;
  transition: box-shadow 0.2s ;
  outline: none;
}

.profile-card input::placeholder{
  color: #363636;
  letter-spacing: 0.5px;
}

.profile-card textarea{
   width: 300px;
  min-height: 50px;
  max-height: 180px;
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  background: #ccc;
  box-shadow: 0 2px 8px rgba(60, 72, 88, 0.07);
  font-size: 1rem;
  color: #2c3e50;
  resize: vertical;
  transition: box-shadow 0.2s;
  outline: none;
}

.profile-card textarea::placeholder{
   color:#363636;
  letter-spacing: 0.5px;
}

.profile-card button{
  background-color: #ccc;
  min-height: 40px;
  max-height: 45px;
  width: 120px;
  border: none;
  box-shadow: 0 2px 8px rgba(60, 72, 88, 0.17);
  border-radius: 10px;
  color: #222;
  font-size: 18px;
  cursor: pointer;
}

.profile-logo{
  height: 70px;
  width: 140px;
  margin-top: 10px;
}
.profile-avatar{
  height: 90px;
  width: 90px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 3px solid rgb(75, 75, 247);
  background-color: #ccc;
}